*,
*:before,
*:after {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

* {
        &::-moz-selection {
           background-color: $color-green-rgb;
           color: $color-white;
        }

        &::selection {
           background-color: $color-green-rgb;
           color: $color-white;
        }
}

html,
body {
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    &.overflow-hidden {
        overflow: hidden;
    }
}

body {
    height: 100%;
    background-color: $color-black;
    color: $color-white;
    font: $font-base-size $font-base;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%; /* specifies a size adjustment for displaying text content in IE on Windows phones */
    -webkit-text-size-adjust: 100%; /* specifies a size adjustment for displaying text content in Safari on iPhone */
    -webkit-touch-callout: none; /* disables the default callout shown when you touch and hold a touch target */
    -webkit-overflow-scrolling: touch; /* controls whether or not touch devices use momentum-based scrolling for the given element */
    -webkit-text-size-adjust: none;
}

a {
    position: relative;
    color: white;
    text-decoration: none;

    &:after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background-color: $color-green-rgb;
        transition: width 0.3s;
    }

    &:hover {
        &:after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: $color-green-rgb;
            transition: width 0.3s;
        }
    }  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-base;
    margin: 0;
    line-height: 1.25em;
}

p {
    margin-top: 1.5em;
    margin-bottom: 0;
    &:first-child {
        margin-top: 0;
    }
}

ul {
    margin:0;
    @include no-bullets();
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* IE antialiasing fix - https://gist.github.com/dalethedeveloper/1846552 */
    * {
        text-shadow: 1px 1px 1px rgba($color-anthracite,.08);
        font-smooth: always;
    }
}
