// Colors

$color-white            : #FFFFFF;
$color-black            : #17161A;
$color-anthracite       : #3f494a;
$color-green-rgb        : #00FF00;
$color-dribbble         : #EA4C89;


// Typography

$font-base                              : "euclid_flex", sans-serif;
$font-base-size                         : 15px;
$font-heading                           : "euclid_flex", serif;